<%- include ('../../partials/header.ejs');%>
<%- include ('../../partials/navbar.ejs');%>

<div class="container"><br>
    <h4>Lista de códigos de status</h4><br>
    <a class="btn btn-primary" href="/admin/eventos/new">Criar Status</a><br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Código</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% eventos.forEach(evento => { %>
            <tr>
                <th><%= evento.id%></th>
                <th><%= evento.codigo%></th>
                <th><div class="botoes"><a href="/admin/eventos/edit/<%= evento.id %>" class="btn btn-secondary">Editar</a>
                    <form method="POST" action="/eventos/delete" style="display: inline;"  onSubmit="deletarStatus(event, this)">
                    <input type="hidden" name="id" value="<%= evento.id %>">
                    <button class="btn btn-secondary">Deletar</button></form></div>
                </th>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<style>
    .botoes{
        display: flex;
        gap: 2%;
    }    
</style>
<script>
    function deletarStatus(event, form){
        event.preventDefault();
        var confirmar = confirm("Tem certeza que deseja deletar o código de status?");
        if (confirmar){
            form.submit();
        }
    }
</script>

<%- include ('../../partials/footer.ejs');%>
