<%- include ('../../partials/header.ejs');%>
<%- include ('../../partials/homenavbar.ejs');%>

<div class="container"><br>
  <h4>Bem vindo(a) colaborador(a) Indústria ABC!</h4><hr>

  <% result.maquinas.rows.forEach(maquina => { %>
    <div class="card">
      <div class="card-header">
        <h3><%= maquina.nome %></h3>
        <div class="card-body">
          <a href="/<%-maquina.slug%>" class="btn btn-secondary">Ver máquina</a>
        </div>
      </div>
    </div>
  <% }) %>

  <div class="row">
    <div class="col col-12">

        <% if (result.page > 2){ %>
            <a style="float: left; color: black;" href="/maquinas/page/<%= result.page - 1 %>">< Prev</a>
        <% }else if(result.page == 2){ %>
            <a style="float:left; color: black;" href="/"> < Prev</a>
        <% } %>

        <% if(result.next) {%>
            <a style="float: right; color: black;" href="/maquinas/page/<%= result.page + 1 %>">Next ></a>
        <% } %>
        <br>
    </div>
</div>
</div>

<%- include ('../../partials/footer.ejs');%>

</div>

<style>

    body{
        height: 150vh;
    }   
    img{
      border-radius: 50%;
    }
    .menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: stretch;
      align-content: center;
      text-align: center;
      background-color: #ffffff40;;
      padding: 4%;
      }
        @media all and (max-width: 500px) {
          .conteudo {
          /*Usar display em colunas em telas pequenas*/
          flex-direction: column;
            }
        }
  
    .menu a{
      text-decoration: none;
      color: black;
    }
  
    .card{
      margin-top: 1%;
      background-color: #ffffff40;
    }
    
  </style>
